/* Reset css :  Con este código eliminamos márgenes, 
padding y otras propiedades que los navegadores 
añaden automáticamente */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight');

*{
    box-sizing: border-box;
    
}

div{
  display:block;
}
/* .layout{
height: 100%;
opacity: 0;



} */
.global-header{
  padding-left:30px ;
  padding-top:30px ;
  position: fixed;
  z-index: 2;
  
  
}
 @media (min-widht:767px){
  .global-header{
    padding-left:50px ;
    padding-top: 50px ;
  }
} 

.nombreLogo{
  width: 96%;
  max-width: 300px;
margin: 0 auto;
margin-left: 6%;
margin-top: 1%;

overflow: hidden;
position: relative;

}
.logoNombre{
  position: relative;
  width: 100%;
}

.global-nav{
    padding-left:0% ;
    margin-left: 84%;
    padding-top:3% ;
    position: fixed;
    z-index: 2;
    
    
}
@media (min-widht:767px){
  .global-nav{
    width: 191px;
    height: 166px;
    overflow: hidden;
  }
} 
.navEgg_svg{
  width: 96%;
  max-width: 300px;
margin: 0 auto;
margin-left: 6%;
margin-top: 1%;

overflow: hidden;
position: relative;

}

.navbarImagen{
  position: relative;
  width: 100%;
}





/* .global-Lines{
    padding-left:84% ;
    padding-top:2% ;
    position: fixed;
    z-index: 2;
    
    
}
@media (min-widht:767px){
  .global-lines{
    width: 191px;
    height: 166px;
    overflow: hidden;
  }
}  */
/* .global-lines{
  width: 49%;
  
  margin-left: 50%;
  margin-top: 0%;
  padding-top: 42%;
position: relative;
  background-color: red;
}  */
.linesLateral{
  width: 50%;
  
  height: 3%;

margin-left: 50%;
margin-top: 38%;


position: absolute;
background-color: #FB997E;

}

.linesLateralDos{
  width: 42%;
height: 2%;
margin-left: 58%;
  margin-top: 42%;
  position: absolute;
 background-color: #ED7C5E;

}

.linesLateralTres{
  width: 7%;
height: 1%;
margin-left: 93%;
margin-top: 50%;
position: absolute;
background: #605454;
}





.parrallax-background{

  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  min-height: 100vh;
  z-index: -1;

}
.parrallax-background_image{
  position: absolute;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;

}


.titulo{
  padding-left:35% ;
  padding-top:10% ;
  z-index: 2;
  
  
}

@media (min-widht:767px){
  .titulo{
    padding-left:50px ;
    padding-top: 200px ;
    margin-top:300px
  }
} 
.front{
  width: 96%;
  max-width: 300px;
margin: 0 auto;
margin-left: 6%;
margin-top: 1%;

overflow: hidden;
position: relative;

}
.frontImagen{
  position: relative;
  width: 100%;
}


.end{
  width: 96%;
  max-width: 202px;
margin: 0 auto;
margin-left: 16%;
margin-top: 2%;


}
.endImagen{
  width: 100%;
  position: relative;
}

.developer{
  width: 96%;
  max-width: 600px;
margin: 0 auto;
margin-left: 10%;
margin-top: 2%;

}
.developerImagen{
  width: 100%;
  position: relative;
}



/* .proyectos{
  width: 96%;
  max-width: 130px;
margin: 0 auto;
margin-left: 63%;
margin-top: 0%;
padding-top: 43%;
position: absolute;
}
.proyectosImagen{
  width: 100%;
  height: auto;
} */
/* .yo{
  width: 96%;
  max-width: 130px;
margin: 0 auto;
margin-left: 73%;
margin-top: 0%;
padding-top: 43%;
position: absolute;
}
.yoImagen{
  width: 100%;
  height: auto;
} */
.contactame{
  width: 96%;
  max-width: 130px;
margin: 0 auto;
margin-left: 83%;
margin-top: 0%;
padding-top: 43%;
position: absolute;
}
.contactameImagen{
  width: 100%;
  height: auto;
}


.global-eggs{
  
  margin-top: 47%;
  margin-left: 59%;
  
  position: absolute;
  z-index: 2;
  

  
  
}
@media (min-widht:767px){
.global-eggs{
  width: 191px;
  height: 166px;
  overflow: hidden;
}
} 
.proyectos{
width: 80%;
max-width: 300px;
margin: 0 auto;
margin-left: 6%;
margin-top: 1%;

overflow: hidden;
position: relative;


}

.proyectosImagen{

width: 100%;
position: relative;

}
.yo{
  width: 100%;
  max-width: 300px;
  
  margin-left:80%;
  margin-top: -59%;
 ;
  overflow: hidden;
  position: relative;
  
  
  }
  
  .yoImagen{
  
  width: 100%;
  position: relative;
 
  }

  .contactame{
    width: 76%;
    max-width: 300px;
    
    margin-left:152%;
    margin-top: -101%;
   ;
    overflow: hidden;
    position: relative;
    
    
    }
    
    .contactameImagen{
    
    width: 100%;
    position: relative;
   
    }

  .global-Sociales{
      padding-left:84% ;
      margin-top: 31%;
      
      position: fixed;
      z-index: 2;
     
      

      
      
  }
  @media (min-widht:767px){
    .global-Sociales{
      width: 191px;
      height: 166px;
      overflow: hidden;
    }
  } 
  .sociales{
    width: 96%;
    max-width: 300px;
  margin: 0 auto;
  margin-left: 6%;
  margin-top: 1%;
  
  overflow: hidden;
  position: relative;
  
  }
  
  .socialesImagen{
    position: relative;
    width: 100%;
  }
  