/* Reset css :  Con este código eliminamos márgenes, 
padding y otras propiedades que los navegadores 
añaden automáticamente */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight');

*{
    box-sizing: border-box;
    
}

div{
  display:block;
}
/* .layout{
height: 100%;
opacity: 0;



} */
.global-header{
  padding-left:30px ;
  padding-top:30px ;
  position: fixed;
  z-index: 2;
  
  
}
 @media (min-widht:767px){
  .global-header{
    padding-left:50px ;
    padding-top: 50px ;
  }
} 

.nombreLogo{
  width: 96%;
  max-width: 300px;
margin: 0 auto;
margin-left: 6%;
margin-top: 1%;

overflow: hidden;
position: relative;

}
.logoNombre{
  position: relative;
  width: 100%;
}
/* .logo {
  width: 100%;
  height: auto;
  } */
.global-nav{
    padding-left:84% ;
    padding-top:2% ;
    position: fixed;
    z-index: 2;
    
    
}
@media (min-widht:767px){
  .global-nav{
    width: 191px;
    height: 166px;
    overflow: hidden;
  }
} 
.navEgg_svg{
  width: 96%;
  max-width: 300px;
margin: 0 auto;
margin-left: 6%;
margin-top: 1%;

overflow: hidden;
position: relative;

}

.navbarImagen{
  position: relative;
  width: 100%;
}


/* 
/* 
nav{
  display: block;
}
.navigation{
  transform: matrix(1, 0, 0, 1, 0, 0);
  /* position: fixed; 
  z-index: 4;
  right: 0;
  top: 0;
  transition: width 100ms linear 0.75s, heigth 100ms linear 0.75s;
  background-color: blue;
}
@media (min-widht:767px){
  .navigation{
    width: 191px;
    height: 166px;
    overflow: hidden;
  }
} 

.navigation_hamburguer{
z-index: 5;

}
button{
  line-height: 1.1;
  background-color: transparent;
  border-color: blue;
  border-radius: 0;
  padding: 0;
  border-width: 1px;
  display: inline-block;
  color: inherit;
  overflow: visible;
}
@media (min-widht:767px){
  .navigation_hamburguer{
    position: absolute;
    width: 141px;
    height: 126px;
    right: 50px;
    top: 40px;
   
  }
} 

.navEgg{
  z-index: 2;
}

@media (min-widht:767px){
  .navEgg{
    position: absolute;
    width: 141px;
    height: 126px;
    right: 50px;
    top: 40px;
   
  }
} 
.navEgg_nest{
  top: 50%;
  left: 50%;
  position: absolute;
  transition: width 0.75s linear, heigth 0.75s linear;
}

.navEgg_svg{
  width: 100%;
  position: relative;
}

 */
 */





.parrallax-background{

  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  min-height: 100vh;
  z-index: -1;

}
.parrallax-background_image{
  position: absolute;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;

}
/* .fondoInicio{
    
   
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    min-height: 1024px;
    background-image: url('../assets/img/pollo.jpg');
 /* Para dejar la imagen de fondo centrada, vertical y horizontalmente 
    background-position: center center;
    background-repeat: no-repeat; /* Do not repeat the image
    background-size: cover; /* Resize the background image to cover the entire container */
/* Se muestra un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla 
    background-color: #FEBCA2;
    
} */

/* @media only screen and (max-width: 100px) {

.fondoInicio {
  
  background-image: url('../assets/img/pollo.jpg');
  
}

  } */

.navbar{
  width: 96%;
  max-width: 130px;
margin: 0 auto;
margin-left: 82%;
margin-top: 0%;
padding-top: 2%;
}
.navbarImagen{
  width: 100%;
  height: auto;
} 




.titulo{
  width:60%;
height: 33%;
margin-left: 39%;
margin-top: -41%;



}



.front{
  
 
  width: 96%;
  max-width: 370px;
margin: 0 auto;
margin-left: 6%;
margin-top: 2%;

}
.frontImagen{
  width: 100%;
  height: auto;
}


.end{
  width: 96%;
  max-width: 202px;
margin: 0 auto;
margin-left: 16%;
margin-top: 2%;


}
.endImagen{
  width: 100%;
  height: auto;
}
.developer{
  width: 96%;
  max-width: 600px;
margin: 0 auto;
margin-left: 10%;
margin-top: 2%;

}
.developerImagen{
  width: 100%;
  height: auto;
}
.linesLateral{
  width: 50%;
  height: 2%;
  margin-left: 50%;
  margin-top: 20%;

  background-color: #FB997E;
}

.linesLateralDos{
  width: 40%;
height: 2.8%;
margin-left: 60%;
  margin-top: 2%;

background: #ED7C5E;
}

.linesLateralTres{
  width: 36%;
height: 1%;
margin-left: 64%;
margin-top: 8%;

background: #605454;
}
.proyectos{
  width: 96%;
  max-width: 130px;
margin: 0 auto;
margin-left: 63%;
margin-top: -3%;
}
.proyectosImagen{
  width: 100%;
  height: auto;
}
.yo{
  width: 96%;
  max-width: 130px;
margin: 0 auto;
margin-left: 73%;
margin-top: -6%;
}
.yoImagen{
  width: 100%;
  height: auto;
}
.contactame{
  width: 96%;
  max-width: 130px;
margin: 0 auto;
margin-left: 83%;
margin-top: -6%;
}
.contactameImagen{
  width: 100%;
  height: auto;
}
.sociales{
  width: 96%;
  max-width: 120px;
margin: 0 auto;
margin-left: 83%;
margin-top: 20%;
}
.socialesImagen{
  width: 100%;
  height: auto;
}