/* Reset css :  Con este código eliminamos márgenes, 
padding y otras propiedades que los navegadores 
añaden automáticamente */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight');

*{
    box-sizing: border-box;
    
}
.proyect{
    width: 100vw;
    height: 100vh;
    background-color:#FEBCA2;
}
div{
  display:block;
}
/* .layout{
height: 100%;
opacity: 0;



} */
.global-header{
  padding-left:30px ;
  padding-top:30px ;
  position: fixed;
  z-index: 2;
  
  
  
}
 @media (min-widht:767px){
  .global-header{
    padding-left:50px ;
    padding-top: 50px ;
  }
} 

.nombreLogo{
  width: 96%;
  max-width: 300px;
margin: 0 auto;
margin-left: 6%;
margin-top: 1%;

overflow: hidden;
position: relative;

}
.logoNombre{
  position: relative;
  width: 100%;
}

.global-nav{
    padding-left:0% ;
    margin-left:84%;
    padding-top:3% ;
    position: fixed;
    z-index: 2;
    
    
    
}
@media (min-widht:767px){
  .global-nav{
    width: 191px;
    height: 166px;
    overflow: hidden;
  }
} 
.navEgg_svg{
  width: 96%;
  max-width: 300px;
margin: 0 auto;
margin-left: 6%;
margin-top: 1%;

overflow: hidden;
position: relative;

}

.navbarImagen{
  position: relative;
  width: 100%;
}


.linesLateralProyect{
    width: 50%;
    
    height: 3%;
  
  margin-left: 50%;
  margin-top: 38%;
  
  
  position: absolute;
  background-color: #FB997E;
  
  }
  
  .linesLateralDosProyect{
    width: 42%;
  height: 2%;
  margin-left: 58%;
    margin-top: 42%;
    position: absolute;
   background-color: #ED7C5E;
  
  }
  
  .linesLateralTresProyect{
    width: 7%;
  height: 1%;
  margin-left: 93%;
  margin-top: 50%;
  position: absolute;
  background: #605454;
  }
  
  
  .footProyectos{
    padding-left:37% ;
    margin-top: 63%;
    width: 83%;
    height: 20%;
    
    position: fixed;
    z-index: 2;
   
    

    
    
}
/* @media (min-widht:767px){
  .footProyectos{
    width: 191px;
    height: 166px;
    overflow: hidden;
  }
}  */
.tituloProyectos{
  width: 153%;
  max-width: 1024px;
margin: 0 auto;
margin-left: -42%;
margin-top: 0%;

overflow: hidden;
position: relative;

}

.ProyectosImagen{
  position: relative;
  width: 100%;
}


.cartonEggs{
    margin-left: 19%;
    
   
    padding-top:4% ;
    width: 60%;
    height: 78%;
    z-index: 2;
    
    
    
  }
  
  @media (min-widht:767px){
    .cartonEggs{
      padding-left:50px ;
      padding-top: 200px ;
      margin-top:300px
    }
  } 
  .carton{
    width: 100%;
    max-width: 900px;
  margin: 0 auto;
  margin-left: 0%;
  margin-top: 0%;
  
  overflow: hidden;
  position: relative;

  
  }
  .cartonImagen{
    position: relative;
    width: 100%;
  }
  
  .sombraCarton{
    width: 58%;
    max-width: 788px;
  margin: 0 auto;
  margin-left: 12%;
  margin-top: -54%;
  
  overflow: hidden;
  position: relative;
  
  
  }
  .sombraCartonImagen{
    position: relative;
    width: 100%;
  }
  
  .global-Sociales{
    padding-left:84% ;
    margin-top: 63%;
    
    position: fixed;
    z-index: 2;
   
    

    
    
}
 @media (min-widht:767px){
  .global-Sociales{
    width: 191px;
    height: 166px;
    overflow: hidden;
  }
}  
.sociales{
  width: 96%;
  max-width: 300px;
margin: 0 auto;
margin-left: 6%;
margin-top: 1%;

overflow: hidden;
position: relative;

}

.socialesImagen{
  position: relative;
  width: 100%;
}
/* 
.eggsProyect{
  
    margin-top: 15%;
    margin-left: 41%;
    
    position: absolute;
    z-index: 2;
    
 
    width: 19%;
    height: 70%;
    
  }
  @media (min-widht:767px){
  .eggsProyect{
    width: 191px;
    height: 166px;
    overflow: hidden;
  }
  }  */
   .comidaParaTodos{
  width: 28%;
  
  
  
  margin-top: 38%;
  margin-left: 10%;
  overflow: hidden;
  position: relative;
 
  
  } 
  
  .comidaParaTodosImagen{
  
    width: 100%;
    position: relative;
   
  
  }
  .redSocialMbti{
    width: 28%;
    
    
    margin-left:36%;
    margin-top: 0%;
 
    overflow: hidden;
    position: relative;
   
    
    } 
    
    .redSocialImagen{
    
    width: 100%;
    position: relative;
    
    
   
    }
  
     .amaPica{
      width: 28%;
      
      
      margin-left:65%;
      margin-top: -33%;
     
     
      
      } 
      
      .amaPicaImagen{
        width: 100%;
        position: relative;
        
      
     
      }
  