/* Reset css :  Con este código eliminamos márgenes, 
padding y otras propiedades que los navegadores 
añaden automáticamente */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight');

*{
    box-sizing: border-box;
    
}

div{
  display:block;
}
/* .layout{
height: 100%;
opacity: 0;


} */
.global-header{
  padding-left:30px ;
  padding-top:30px ;
  position: fixed;
  z-index: 2;
  
  
}
 @media (min-widht:767px){
  .global-header{
    padding-left:50px ;
    padding-top: 50px ;
  }
} 

.nombreLogo{
  width: 96%;
  max-width: 300px;
margin: 0 auto;
margin-left: 6%;
margin-top: 1%;

overflow: hidden;
position: relative;

}
.logoNombre{
  position: relative;
  width: 100%;
}

.global-nav{
    padding-left:0% ;
    margin-left: 84%;
    padding-top:3% ;
    position: fixed;
    z-index: 2;
    
    
}
@media (min-widht:767px){
  .global-nav{
    width: 191px;
    height: 166px;
    overflow: hidden;
  }
} 
.navEgg_svg{
  width: 96%;
  max-width: 300px;
margin: 0 auto;
margin-left: 6%;
margin-top: 1%;

overflow: hidden;
position: relative;

}

.navbarImagen{
  position: relative;
  width: 100%;
}


.parrallax-background{

    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    min-height: 100vh;
    z-index: -1;
  
  }
  .parrallax-background_image{
    position: absolute;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  
  }
  .parrallax-background_image_filtro{
    position: absolute;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -1;

  }
  
  .titulo_Revelio_principal{
    padding-left:35% ;
    padding-top:10% ;
    z-index: 2;
    
    
  }
  
  @media (min-widht:767px){
    .titulo_Revelio_principal{
      padding-left:50px ;
      padding-top: 200px ;
      margin-top:300px
    }
  } 
  .tituloRevelioPrincipal{
    width: 96%;
    
  margin: 0 auto;
  margin-left: -10%;
  margin-top: 1%;
  
  overflow: hidden;
  position: relative;
  
  }
  .TitulorevelioImagenPrincipal{
    position: relative;
    width: 100%;
  }
  
  .parrafoIniciorRevelio{
      margin-left: -28%;
      margin-right: 25%;
      padding-left: 6%;
      padding-right: 2%;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
   
    
    color: #605454;
  }

.tituloRevelio{

    padding-left:0% ;
    padding-top:2% ;
    z-index: 2;
}

  
  @media (min-widht:767px){
    .tituloRevelio{
      padding-left:50px ;
      padding-top: 200px ;
      margin-top:300px
    }
  } 

  .tituloRevelioMovil{
    width: 96%;
    
  margin: 0 auto;
  margin-left: -16%;
  margin-top: 1%;
  
  overflow: hidden;
  position: relative;
  
  }
  .TituloRevelioImagen{
    position: relative;
    width: 100%;
  }
.ProyectoRevelioMovil{
 

    padding-left:0% ;
    padding-top:2% ;
    z-index: 2;
   
}

  
  @media (min-widht:767px){
    .ProyectoRevelioMovil{
      padding-left:50px ;
      padding-top: 200px ;
      margin-top:300px
    }
  

}
  .tituloRevelioMovilDos{
    width: 88%;
    
  margin: 0 auto;
  margin-left: 6%;
  margin-top: -9%;
  
  overflow: hidden;
  position: relative;
  
  }
  .TituloRevelioImagenDos{
    position: relative;
    width: 100%;
  }

  
  .RevelioCentral{
    margin-left: -6%;
    
   margin-top: 10%;
    
    width: 73%;
   
    z-index: 2;
    
    
    
  }
  
  @media (min-widht:767px){
    .RevelioCentral{
      padding-left:50px ;
      padding-top: 200px ;
      margin-top:300px
    }
  } 
  .Revelio{
    width: 100%;
    max-width: 900px;
  margin: 0 auto;
  margin-left: 0%;
  margin-top: 0%;
  
  overflow: hidden;
  position: relative;

  
  }
  .RevelioImg{
    position: relative;
    width: 100%;
  }

 




  .TecnoRevelio{
    margin-left: -16%;
    margin-top: 7%;
    z-index: 2;
    display:inline-block;
  }
  
  @media (min-widht:767px){
    .TecnoRevelio{
      padding-left:50px ;
      padding-top: 200px ;
      margin-top:300px
    }
  } 
  .tecnologiasRevelio{
    width: 100%;
    
  margin: 0 auto;
  margin-left: -10%;
  margin-top: 1%;
  
  overflow: hidden;
  position: relative;
  display: inline-block;
  }
  .RevelioImagenTec{
    position: relative;
    width: 100%;
    display: inline-block;
  }




  
  .pagRevelio2{
    /* margin-left: 15%; */
    
   /* margin-top: 10%;
    padding-top:3% ; */
    /* margin-bottom: 7%;
    margin-top: 10%; */
    width: 30%;
    height: 78%;
    z-index: 2;
    display: inline-block;
    
    
    
  }
  
  @media (min-widht:767px){
    .pagRevelio2{
      padding-left:50px ;
      padding-top: 200px ;
      margin-top:300px
    }
  } 
  .revelio2{
    width: 100%;
    max-width: 900px;
  margin: 0 auto;
  margin-left: 62%;
  margin-top: 0%;
  
  overflow: hidden;
  position: relative;
  

  
  }
  .imgRevelio2{
    position: relative;
    width: 100%;
  }

  .pagRevelio3{
    margin-left: 20%;
    
   /* margin-top: 10%;
    padding-top:3% ; */
    /* margin-bottom: 7%;
    margin-top: 10%;
    height: 78%;
    z-index: 2;
    display: inline-block; */

    
    margin-top: 4%;
    width: 30%;
    height: 78%;
    z-index: 2;
    display: inline-block;
    
  }
  
  @media (min-widht:767px){
    .pagRevelio3{
      padding-left:50px ;
      padding-top: 200px ;
      margin-top:300px
    }
  } 
  .revelio3{
    width: 100%;
    max-width: 900px;
  margin: 0 auto;
  margin-left: 5%;
  margin-top: 0%;
  
  overflow: hidden;
  position: relative;
  
  
  }
  .imgRevelio3{
    position: relative;
    width: 100%;
  }

  .pagRevelio4{
     margin-left: 19%; 
    
   /* margin-top: 10%;
    padding-top:3% ; */
    margin-bottom: 7%;
    
    margin-top: -3%;
    width: 30%;
    height: 78%;
    z-index: 2;
    display: inline-block;

    
    
  }
  
  @media (min-widht:767px){
    .pagRevelio4{
      padding-left:50px ;
      padding-top: 200px ;
      margin-top:300px
    }
  } 
  .revelio4{
    width: 100%;
    max-width: 900px;
  margin: 0 auto;
  
  margin-top: 0%;
  
  overflow: hidden;
  position: relative;
  
  
  }
  .imgRevelio4{
    position: relative;
    width: 100%;
  }

  .pagRevelio5{
    margin-left: 3%;
    
   /* margin-top: 10%;
    padding-top:3% ; */
    margin-bottom: 5%;
    margin-top: 5%;
    width: 30%;
    height: 78%;
    z-index: 2;
    display: inline-block;

    
    
  }
  
  @media (min-widht:767px){
    .pagRevelio5{
      padding-left:50px ;
      padding-top: 200px ;
      margin-top:300px
    }
  } 
  .revelio5{
    width: 100%;
    max-width: 900px;
  margin: 0 auto;
  margin-left: 0%;
  margin-top: 0%;
  
  overflow: hidden;
  position: relative;
  
  
  }
  .imgRevelio5{
    position: relative;
    width: 100%;
  }

  .global-Sociales{
    padding-left:84% ;
    margin-top: 63%;
    
    position: fixed;
    z-index: 2;
   
    

    
    
}
 @media (min-widht:767px){
  .global-Sociales{
    width: 191px;
    height: 166px;
    overflow: hidden;
  }
}  
.sociales{
  width: 96%;
  max-width: 300px;
margin: 0 auto;
margin-left: 6%;
margin-top: 1%;

overflow: hidden;
position: relative;

}

.socialesImagen{
  position: relative;
  width: 100%;
}
