/* Reset css :  Con este código eliminamos márgenes, 
padding y otras propiedades que los navegadores 
añaden automáticamente */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight');

*{
    box-sizing: border-box;
    
    
}
.layoutSobreMi{
    background-color: #FEBCA2; 
}
div{
  display:block;
}
/* .layout{
height: 100%;
opacity: 0;



} */
.global-header{
  padding-left:30px ;
  padding-top:30px ;
  position: fixed;
  z-index: 2;
  
  
}
 @media (min-widht:767px){
  .global-header{
    padding-left:50px ;
    padding-top: 50px ;
  }
} 

.nombreLogo{
  width: 96%;
  max-width: 300px;
margin: 0 auto;
margin-left: 6%;
margin-top: 1%;

overflow: hidden;
position: relative;

}
.logoNombre{
  position: relative;
  width: 100%;
}

.global-nav{
    padding-left:0% ;
    margin-left: 84%;
    padding-top:3% ;
    position: fixed;
    z-index: 2;
    
    
}
@media (min-widht:767px){
  .global-nav{
    width: 191px;
    height: 166px;
    overflow: hidden;
  }
} 
.navEgg_svg{
  width: 96%;
  max-width: 300px;
margin: 0 auto;
margin-left: 6%;
margin-top: 1%;

overflow: hidden;
position: relative;

}

.navbarImagen{
  position: relative;
  width: 100%;
}







.PolloDeCabeza{
    margin-left: 21%;
    
   
    padding-top:4% ;
    width: 60%;
    height: 78%;
    
    transform:rotate(170deg);
    -ms-transform:rotate(170deg); /* IE 9 */
    -webkit-transform:rotate(170deg); /* Opera, Chrome, and Safari */
    z-index: -1;
    
    
  }
  
  @media (min-widht:767px){
    .PolloDeCabeza{
      padding-left:50px ;
      padding-top: 200px ;
      margin-top:300px
    }
  } 
  .PolloReves{
    width: 100%;
   
  margin: 0 auto;
  margin-left: -27%;
  margin-top: 34%;
  
  overflow: hidden;
  position: relative;

  
  }
  .PolloIMGCabeza{
    position: relative;
    width: 100%;
  }




  .MarcoTresFotos{
    margin-left: 21%;
    
   
    padding-top:4% ;
    width: 60%;
    height: 78%;
    z-index: 1;
    
    
    
  }
  
  @media (min-widht:767px){
    .MarcoTresFotos{
      padding-left:50px ;
      padding-top: 200px ;
      margin-top:300px
    }
  } 
  .MarcoInicioYo{
    width: 96%;
   
  margin: 0 auto;
  margin-left: -18%;
  margin-top: -48%;
  
  overflow: hidden;
  position: absolute;

  
  }
  .marcoImagen{
    position: relative;
    width: 100%;
  }


   /* .footSobreMI{
    padding-left:18% ;
    margin-top: 25%;
    width: 0%;
    height: 0%;
    
    position: fixed;
    z-index: 2;
   
    
}  */
.footSobreMI{
    padding-left:37% ;
    padding-top:0% ;
    z-index: 2;
    
    
  }
  
  @media (min-widht:767px){
    .footSobreMI{
      padding-left:50px ;
      padding-top: 200px ;
      margin-top:300px
    }
  } 
  .tituloSobreMi{
    width: 100%;
    
  margin: 0 auto;
  margin-left: -27%;
  margin-top: 0%;
  
  overflow: hidden;
  position: relative;
  
  }
  .tituloHolaImagen{
    position: relative;
    width: 100%;
  }

  
  .MarcoUnoFotos{
    /* margin-left: 21%;
    
   
    padding-top:4% ;
    width: 60%;
    height: 78%;
    z-index: 1;
     */
    
    
  }
  
  /* @media (min-widht:767px){
    .MarcoUnoFotos{
      padding-left:50px ;
      padding-top: 200px ;
      margin-top:300px
    }
  }  */
  .MarcoUnoYo{
    width: 40%;
   
  margin: 0 auto;
  margin-left: 10%;
  margin-top: 15%;
  
  overflow: hidden;
  position: absolute;

  
  }
  .marcoImagenUno{
    position: relative;
    width: 100%;
  }

  .parrafoInicioYo{
    margin-left: 55%;
    margin-right: 17%;
    margin-top: 10%;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: justify;
  
  color: #605454;
}
